@font-face {
      font-family: "Roboto";
      src: url("../font/Roboto-Regular.ttf");

    }

  body{
      font-family: Roboto;
      font-size: 12px;
    margin: 0;
    overflow-x: hidden;
    color: #686868;
    line-height: 1.42857143;
    font-weight: 300;
  }

  #wrapper{
        width: 100%;
    margin: 0 auto;
    box-shadow: 1px 0 50px rgba(0,0,0,.2);
  }

  #page-wrapper {
    position: inherit;
    margin: 0;
    padding: 0 0 60px;
    min-height: 568px;
    background: #f4f6f8;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
}


* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
  color: #31d24;
}

form.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #a31d24;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.textareatabla{
  border: 0;
   outline: none;
}

.topnav {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
   font-family: Roboto;
  font-size: 13px;
  color: #cccc;
}

.topnav a {
  float: center;
  color: #cccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
   font-weight: bolder;
   letter-spacing: 2px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #a31d24;
  font-size: 15px;
  font-weight: bolder;
  text-decoration-line: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
   color: #a31d24;
    text-decoration-line: underline;
   font-size: 15px;
   font-weight: bolder;
}



.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: Roboto;
   text-decoration: none;
}

.accordion:active, .accordion:hover {
  content: "\2212";
   border: none;
    text-decoration: none;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
   border: none;
    text-decoration: none;
}

.accordion.active:after {
  content: "\2212";
   border: none;
   text-decoration: none;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: Roboto;
  font-size: 14px;
}




.accordion2 {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  font-family: Roboto;
  text-align: right;
  vertical-align: middle;
   text-decoration: none;
}



.nav-link{
  color:#ccc;
}

.nav-link:hover{
  color:#a31d24;
}

.nav-link.active{
  color:#a31d24;
}