@font-face {
      font-family: "Roboto";
      src: url("../font/Roboto-Regular.ttf");

    }

    body{
      font-family: Roboto;
      font-size: 12px;
    margin: 0;
    overflow-x: hidden;
    color: #686868;
    line-height: 1.42857143;
    font-weight: 300;
  }

   #wrapper{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
  }

  #page-wrapper {
    position: inherit;
    margin: 0;
    padding: 0 0 60px;
    max-width: auto;
    max-height: 800px;
    min-height: 450px;
    background: #fff;
}

li{
 color: #666666;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  }

  li:active{
 color: #A31D24;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  }

  

    li:hover{
 color: #A31D24;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  }

  .TitulosGenerlaes{
  color: #666666;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}

  .TextoGenerlaes{
 color: #000000;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}

.BotonEditarTG
{

  color: #A31D24;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
}


 /* Tooltip */
  .test + .tooltip > .tooltip-inner {
  
    color: #ffffff; 
    font-family: Lato;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 0;
  line-height: 15px;
  border: 1px solid #D4D4D4;
  background-color: #1F1D21;
  }

  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
  }

.enlace_didactico{
  font-family: Roboto;
  cursor:pointer;
  font-size: 18px;
  color:#a31d24;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
}

.nav-link{

 color: #666666;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;

}


.nav-link:active{
 color: #A31D24;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  
}

#menu_rec{
  height: 80px; 
  width: 100%; 
  background-color: #F0F0F0;
}

#navbarSupportedContent{
padding-left: 56%;
}

#capainicio{
  padding-bottom: 40px;
  height: 76px; 
  width: 998px;
}
#txtinicio{
  color: #2B2B2B; 
  font-family: Roboto; 
  font-size: 16px; 
  letter-spacing: 0; 
  line-height: 19px; 
  text-align: justify;
  padding-bottom: 20px;
}
#bienvenido{
  padding-bottom: 20px;
}
#menuitem{
  color:#868686;
  font-size: 16px;
  font-family: Roboto;
  font-weight: bold;
}
#menulink{
  color: #868686;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
#navitem{
  text-align: center;
  vertical-align: middle;
  padding-left: 0px;
  padding-right:0px;
}
#div_rev{
   padding-top: 30px;
}
#txt_rev{
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
 
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 400px) {
   #navbarSupportedContent{
  padding-left: 4%;
  }
  #bienvenido{
  padding-bottom: 115px;
}
}

@media (min-width:500px){
     #navbarSupportedContent{
  padding-left: 4%;
  }
  #bienvenido{
  padding-bottom: 115px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   #navbarSupportedContent{
  padding-left: 0%;
  }
  #bienvenido{
  padding-bottom: 65px;
}
#menulink{
  color: #868686;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 892px) {
  #navbarSupportedContent{
  padding-left: 5%;
  }
  #bienvenido{
  padding-bottom: 31px;
}
#menulink{
  color: #868686;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
#navitem{
  text-align: center;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #navbarSupportedContent{
  padding-left: 30%;
  }
  #bienvenido{
  padding-bottom: 35px;
}
#menulink{
  color: #868686;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
#navitem{
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;

  color: #A31D24;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #navbarSupportedContent{
  padding-left: 41%;
  }
  #bienvenido{
  padding-bottom: 35px;
}
#menulink{
  color: #868686;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
}
#navitem{
  text-align: center;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}
}